<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muji.zh.admin.mapper.KindergartenTypeMapper">
  <resultMap id="BaseResultMap" type="com.muji.zh.admin.model.KindergartenType">
    <id column="kt_id" jdbcType="INTEGER" property="ktId" />
    <result column="ktname" jdbcType="VARCHAR" property="ktname" />
    <result column="flag1" jdbcType="VARCHAR" property="flag1" />
    <result column="flag2" jdbcType="VARCHAR" property="flag2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    kt_id, ktname, flag1, flag2
  </sql>
  <select id="selectByExample" parameterType="com.muji.zh.admin.model.KindergartenTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kindergarten_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kindergarten_type
    where kt_id = #{ktId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from kindergarten_type
    where kt_id = #{ktId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.muji.zh.admin.model.KindergartenTypeExample">
    delete from kindergarten_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.muji.zh.admin.model.KindergartenType">
    insert into kindergarten_type (kt_id, ktname, flag1, 
      flag2)
    values (#{ktId,jdbcType=INTEGER}, #{ktname,jdbcType=VARCHAR}, #{flag1,jdbcType=VARCHAR}, 
      #{flag2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.muji.zh.admin.model.KindergartenType">
    insert into kindergarten_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ktId != null">
        kt_id,
      </if>
      <if test="ktname != null">
        ktname,
      </if>
      <if test="flag1 != null">
        flag1,
      </if>
      <if test="flag2 != null">
        flag2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ktId != null">
        #{ktId,jdbcType=INTEGER},
      </if>
      <if test="ktname != null">
        #{ktname,jdbcType=VARCHAR},
      </if>
      <if test="flag1 != null">
        #{flag1,jdbcType=VARCHAR},
      </if>
      <if test="flag2 != null">
        #{flag2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.muji.zh.admin.model.KindergartenTypeExample" resultType="java.lang.Long">
    select count(*) from kindergarten_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update kindergarten_type
    <set>
      <if test="record.ktId != null">
        kt_id = #{record.ktId,jdbcType=INTEGER},
      </if>
      <if test="record.ktname != null">
        ktname = #{record.ktname,jdbcType=VARCHAR},
      </if>
      <if test="record.flag1 != null">
        flag1 = #{record.flag1,jdbcType=VARCHAR},
      </if>
      <if test="record.flag2 != null">
        flag2 = #{record.flag2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update kindergarten_type
    set kt_id = #{record.ktId,jdbcType=INTEGER},
      ktname = #{record.ktname,jdbcType=VARCHAR},
      flag1 = #{record.flag1,jdbcType=VARCHAR},
      flag2 = #{record.flag2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.muji.zh.admin.model.KindergartenType">
    update kindergarten_type
    <set>
      <if test="ktname != null">
        ktname = #{ktname,jdbcType=VARCHAR},
      </if>
      <if test="flag1 != null">
        flag1 = #{flag1,jdbcType=VARCHAR},
      </if>
      <if test="flag2 != null">
        flag2 = #{flag2,jdbcType=VARCHAR},
      </if>
    </set>
    where kt_id = #{ktId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.muji.zh.admin.model.KindergartenType">
    update kindergarten_type
    set ktname = #{ktname,jdbcType=VARCHAR},
      flag1 = #{flag1,jdbcType=VARCHAR},
      flag2 = #{flag2,jdbcType=VARCHAR}
    where kt_id = #{ktId,jdbcType=INTEGER}
  </update>
</mapper>