<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muji.zh.admin.mapper.PartWinRecordMapper">
  <resultMap id="BaseResultMap" type="com.muji.zh.admin.model.PartWinRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="flag1" jdbcType="VARCHAR" property="flag1" />
    <result column="flag2" jdbcType="VARCHAR" property="flag2" />
    <result column="flag3" jdbcType="VARCHAR" property="flag3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, content, title, date, pid, flag1, flag2, flag3
  </sql>
  <select id="selectByExample" parameterType="com.muji.zh.admin.model.PartWinRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from part_win_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from part_win_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from part_win_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.muji.zh.admin.model.PartWinRecordExample">
    delete from part_win_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.muji.zh.admin.model.PartWinRecord">
    insert into part_win_record (id, content, title, 
      date, pid, flag1, flag2, 
      flag3)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{date,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, #{flag1,jdbcType=VARCHAR}, #{flag2,jdbcType=VARCHAR}, 
      #{flag3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.muji.zh.admin.model.PartWinRecord">
    insert into part_win_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="flag1 != null">
        flag1,
      </if>
      <if test="flag2 != null">
        flag2,
      </if>
      <if test="flag3 != null">
        flag3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="flag1 != null">
        #{flag1,jdbcType=VARCHAR},
      </if>
      <if test="flag2 != null">
        #{flag2,jdbcType=VARCHAR},
      </if>
      <if test="flag3 != null">
        #{flag3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.muji.zh.admin.model.PartWinRecordExample" resultType="java.lang.Long">
    select count(*) from part_win_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update part_win_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.flag1 != null">
        flag1 = #{record.flag1,jdbcType=VARCHAR},
      </if>
      <if test="record.flag2 != null">
        flag2 = #{record.flag2,jdbcType=VARCHAR},
      </if>
      <if test="record.flag3 != null">
        flag3 = #{record.flag3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update part_win_record
    set id = #{record.id,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=VARCHAR},
      pid = #{record.pid,jdbcType=INTEGER},
      flag1 = #{record.flag1,jdbcType=VARCHAR},
      flag2 = #{record.flag2,jdbcType=VARCHAR},
      flag3 = #{record.flag3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.muji.zh.admin.model.PartWinRecord">
    update part_win_record
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="flag1 != null">
        flag1 = #{flag1,jdbcType=VARCHAR},
      </if>
      <if test="flag2 != null">
        flag2 = #{flag2,jdbcType=VARCHAR},
      </if>
      <if test="flag3 != null">
        flag3 = #{flag3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.muji.zh.admin.model.PartWinRecord">
    update part_win_record
    set content = #{content,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      flag1 = #{flag1,jdbcType=VARCHAR},
      flag2 = #{flag2,jdbcType=VARCHAR},
      flag3 = #{flag3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>





  <!-- 从业者 删除 从业者获奖记录 -->
  <delete id="deleteByIdAndPid">
     delete from part_win_record
    where id = #{id,jdbcType=INTEGER} and pid = #{pId,jdbcType=INTEGER}
  </delete>

  <!--查询 从业者所有的获奖记录-->
  <select id="selectByPid" parameterType="java.lang.Integer" resultType="com.muji.zh.admin.model.PartWinRecord">
    select
    <include refid="Base_Column_List" />
    from part_win_record
    where pid = #{pId,jdbcType=INTEGER}
  </select>

  <!-- 从业者 查询单个获奖记录ID -->
  <select id="selectByPidAndId" resultType="com.muji.zh.admin.model.PartWinRecord">
    select
    <include refid="Base_Column_List" />
    from part_win_record
    where pid = #{pId,jdbcType=INTEGER} and id = #{id,jdbcType=INTEGER}
  </select>
</mapper>