<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
    <form action="#" method="post">
        Username:<input type="text" name="username"/><br/>
        Password:<input type="password" name="password"/><br/>
        Identified:<select name="identify">
                        <option value="kindergarten_leader">园长</option>
                        <option value="yong_teacher">幼师</option>
                        <option value="nursery_governess">保育员</option>
                        <option value="health_care_provider">保健医生</option>
                   </select><br/>
        <br/>
        <input type="submit" value="登陆"/>&nbsp;&nbsp;&nbsp;&nbsp;
        <button>注册</button>
    </form>
</body>
</html>