<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<title>主页面</title>
	<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/ban2.css" />
	<script src="/static/js/echarts.min.js"></script>
	<script src="/static/js/zhengzhou.js"></script>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/jquery.rotate.min.js"></script>
	<style>
		.left_bottom{margin-top:3%; margin-left: 5%;width:90%;height:35%;}
		.pass{height:100%;width:100%;}
		.line{background-color:#86fcc2;float: left;width:2rem;height: 0.8rem;margin-top: 0.3rem;margin-left: 4rem;border-radius: 0.1rem;}
		.line_font{color: white;font-size: 0.8rem;float: left;margin-left: 0.1rem;margin-top:0.2rem;}
		.bl{background-color:#12604c;float: left;width:2rem;height: 0.8rem;margin-top: 0.3rem;margin-left: 4rem;border-radius: 0.1rem;}
		.type{margin-top:1rem;width:80%;margin-left:10%;}

		#window{
			display: none;
			position: absolute;
			top: 15%;
			left: 28%;
			width: 45%;
			height: 55%;
			background-image: url(/static/img2/center_center.png);
			background-size: 100% 100%;
			z-index:1002;
			/* opacity: 0.8; */
			font-size: 1rem;
		}
		#window img{
			width:100%;
			height:100%;
			/*padding: 2rem;*/
		}
		.white_content {
			display: none;
			position: absolute;
			border-radius: 30px;
			top: 10%;
			left: 10%;
			width: 70%;
			height: 50%;
			padding: 20px;
			/*border: 0.2rem solid red;*/
			background-image: url(/static/img/bodyback.png);
			z-index:1008;
			opacity: 0.7;
		}
		#reply_title img{height:80px;position: relative;}
		#reply_content img{height:200px;position: relative;}
		#reply_title input{
            position: absolute;
			width:100%;
            top:30px;
			left:0;
			background: none;
			outline:none;
			border: none;
			font-size: 1.2rem;
            text-align: center;
		}
		#reply_content textarea{
			width:80%;
			top:100px;
			height:80%;
			left:0;
			position: absolute;
			border: none;
			outline: none;
			background: none;
			font-size: 1.2rem;
			text-align: left;
			margin-left:5%;

		}

		::-moz-placeholder { color: #FFFFFF; opacity: 0.5; }
		::-webkit-input-placeholder { color:#FFFFFF;opacity: 0.5; }
		:-ms-input-placeholder { color:#FFFFFF; opacity: 0.5;}

	</style>


</head>
<body oncontextmenu="return false;" onselectstart="return false">
<!--粒子 -->
<!--<canvas id="cas"></canvas>  -->
<!-- 上-->
<div class="header">
	<div class="topimg">
		   		<span class="h-title" >
					<label th:text="${session.education.ename}"></label><label>幼儿园管理平台</label>
		   		</span>

		<span class="mes">
		   			<p>欢迎您! <label th:text="${session.eduUser.nname}">XXX教育局&nbsp;</label>管理中心&nbsp;<a href="/logout">退出</a></p>
		   		</span>
	</div>
</div>
<!-- 整体-->
<div  class="main">

	<!-- 左边-->
	<div class="left">
		<!-- 左上 -->
		<div class="left-t light">
			<span class="left-t_title">幼儿园</span>
			<!-- 3个柱状图 -->
			<div class="zhu_t" >
				<!-- 柱状图区域-->
				<div class="bar">
					<span class="bar-left"><p>公办</p><span th:text="${publicCount}"><span>所</span></span><span>所</span></span>
					<span class="bar-right"><p>非公办</p><span th:text="${sum}"><span>所</span></span><span>所</span></span>
					<div class="zhu_1">                                   <!--外框-->
						<div class="one">  <!--内框 -->
							<div class="zhu_one" id="property1"></div> <!--柱状 -->
						</div>
					</div>
				</div>
				<div class="bar">
					<span class="bar-left"><p>惠普</p><p>1000所</p></span>
					<span class="bar-right"><p>非惠普</p><p>2000所</p></span>
					<div class="zhu_1">
						<div class="one">
							<div class="zhu_one" id="property2"></div>
						</div>
					</div>
				</div>
				<div class="bar">
					<span class="bar-left"><p>合理</p><p>1000所</p></span>
					<span class="bar-right"><p>非合理</p><p>2000所</p></span>
					<div class="zhu_1">
						<div class="one">
							<div class="zhu_one" id="property3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="left-f light">
			<span class="left-f_title">教育从业者</span>
			<!--从业者信息 -->
			<div class="worker">
				<div class="sex">
					<span class="men">男</span>
					<span class="women">女</span>
				</div>
				<div class="bar2">
					<span class="bar2-left">园长</span>
					<span class="bar2-right"><label th:text="${mapSexMan['part_1']}"></label>:<label th:text="${mapSexWoman['part_1']}"></label></span>
					<div class="zhu_2"><!--外框 -->
						<div class="two"><!--内框 -->
							<div class="zhu_two" id="ICRADE1"></div> <!-- 柱状-->
						</div>
					</div>
				</div>
				<div class="bar2">
					<span class="bar2-left">幼师</span>
					<span class="bar2-right"><label th:text="${mapSexMan['part_2']}"></label>:<label th:text="${mapSexWoman['part_2']}"></label></span>

					<div class="zhu_2"><!--外框 -->
						<div class="two"><!--内框 -->
							<div class="zhu_two" id="ICRADE2"></div> <!-- 柱状-->
						</div>
					</div>
				</div>
				<div class="bar2">
					<span class="bar2-left">保育员</span>
					<span class="bar2-right"><label th:text="${mapSexMan['part_3']}"></label>:<label th:text="${mapSexWoman['part_3']}"></label></span>
					<div class="zhu_2"><!--外框 -->
						<div class="two"><!--内框 -->
							<div class="zhu_two" id="ICRADE3"></div> <!-- 柱状-->
						</div>
					</div>
				</div>
				<div class="bar2">
					<span class="bar2-left">保健医</span>
					<span class="bar2-right"><label th:text="${mapSexMan['part_4']}"></label>:<label th:text="${mapSexWoman['part_4']}"></label></span>

					<div class="zhu_2"><!--外框 -->
						<div class="two"><!--内框 -->
							<div class="zhu_two" id="ICRADE4"></div> <!-- 柱状-->
						</div>
					</div>
				</div>
				<div class="bar2">
					<span class="bar2-left">后勤人员</span>
					<span class="bar2-right"><label th:text="${mapSexMan['part_5']}"></label>:<label th:text="${mapSexWoman['part_5']}"></label></span>

					<div class="zhu_2"><!--外框 -->
						<div class="two"><!--内框 -->
							<div class="zhu_two" id="ICRADE5"></div> <!-- 柱状-->
						</div>
					</div>
				</div>
			</div>
			<div class="left_bottom" >
				<div style="background-image:url('/static/img/teacher.png'); width:20%; height:10%; margin-left: 10%;">教师资格</div>
				<div id="JM" class="pass"></div>
				<div class="type">
					<div  class='line'></div>
					<div  class="line_font">合格</div>
					<div  class='bl' ></div>
					<div  class="line_font">不合格</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 中间   -->
	<div class="center light" id="ban2-center">
		<!--显示时间 -->
		<div class="time2" id="showTime"></div>
		<!-- 中间按钮 -->
		<div class="Anniu">
			<img class="JM2" src="/static/img2/JM.png"><a href="#" onClick="javascript :history.back(-1);"><img  class="back" src="/static/img2/back.png"></a>
		</div>
		<!--主要内容 -->
		<div class="content">
			<div class="ban2-title">
				<span type='text' th:text="${complaint.title}"></span>
			</div>
			<!-- 收件人以及时间 -->
			<div class="addreser">
				<span class="ban2_mes"  th:text="${complaint.cname}"></span>
				<span class="ban2-mes2" th:text="${complaint.flag2}"></span>
			</div>
			<div class="text">
				<span th:text="${complaint.content}" > </span>
			</div>
			<div class="ban2-foot">
				<div class="p1">
					<div class="zip_button">
						<!--<label id="show_name" th:text="${complaint.image}">附件</label>-->
					</div>
					<div id="window">
						<img th:src="${complaint.image}" />
					</div>
					<div class="p2">
						<a href="#"><img id="YES" src="/static/img2/search.png" /></a>
						<img src="/static/img2/download.png" />
					</div>
				</div>

				<div class="ban2-button">
					<button class="reback">回复</button>
				</div>

				<!--<div id="light" class="white_content">-->
					<!--<form id="writeForm"  method="POST">-->
						<!--<div id="reply_title">-->
							<!--<img src="/static/img/touming.png" width="100%"  >-->
							<!--<input type="text"   placeholder="标题"/>-->
						<!--</div>-->
						<!--<input type="hidden" name="cid1"  th:value="${complaint.id}">-->
						<!--<div id="reply_content" >-->
							<!--<img src="/static/img2/center_center.png" width="100%" >-->
							<!--<textarea class="light_textarea" cols="9" placeholder="  请输入内容..."></textarea>-->
						<!--</div>-->
					<!--</form>-->
					<!--<button class="reback"  id="bottom_button2"  style="padding:0.5rem 0;font-size:1.3rem;margin-left:44%;cursor: pointer;margin-top:2rem;">提交</button>-->
				<!--</div>-->



				<div id="light" class="white_content">

					<div class="light_top light">
						<input class="light_input1" type="text" name="title" id="title"  placeholder="标题" autocomplete="off"/>
						<span class="close"></span>
						<input type="hidden" name="cid1" id="cid1" th:value="${complaint.id}">
					</div>
					<div class="light_bottom light">
						<textarea class="light_textarea" name="content" id="content" cols="9" placeholder="  请输入内容..." autocomplete="off"></textarea>
						<button class="sure" onclick="submits()">提交</button>
					</div>


				</div>





			</div>
		</div>


	</div>
	<!--  右边 -->
	<!--  右边 -->
	<div class="right">
		<!-- 右上 -->
		<div class="right-t">
			<!--警报框 -->
			<span  class="biaoti">警报信息</span>

			<div class="jingbao" id="t1">
				<p><label class="title">一级警报</label><label class="sum" th:text="${cso1}">19条</label></p>
				<div class="b"><button bchange="1" class="b1" id="m1"><img src="/static/img/redwrong.png" width="60%"/></button></div>
				<!--<p><label class="a1">内容概述</label><label class="a2">时间</label></p>-->
				<!--<p ><label class="a1">内容概述</label><label class="a2">时间</label></p>-->

				<th th:each="complaintList ,itemStat: ${warningMap['warning1']}" th:if="${itemStat.count}<=1">
					<p ><a th:href="@{'/findByKid?kid='+${complaintList.kId}}"><label class="a1" th:text="${complaintList.content}"></label></a>
						<label class="a2" th:text="${complaintList.id}"></label>
					</p>
				</th>

				<th th:each="complaintLists ,itemStats: ${partwarningMap['warning2']}" th:if="${itemStats.count}<=1">
					<p ><a th:href="@{'/findByPid?pid='+${complaintLists.pId}}"><label class="a1" th:text="${complaintLists.content}"></label></a>
						<label class="a2" th:text="${complaintLists.id}"></label>
					</p>
				</th>



			</div>
			<!--信息展示 -->
			<div class="show" id="show1">


				<th th:each="complaintLists ,itemStats: ${partwarningMap['warning1']}">
					<p >
						<a th:href="@{'/findByPid?pid='+${complaintLists.pId}}">
							<label class="show-l" th:text="${complaintLists.content}"></label>
						</a>
						<label class="show-r" th:text="${complaintLists.id}"></label>
					</p>
				</th>
				<th th:each="complaintList ,itemStat: ${warningMap['warning1']}" >
					<p ><a th:href="@{'/findByKid?kid='+${complaintList.kId}}"><label class="show-l" th:text="${complaintList.content}"></label></a>
						<label class="show-r" th:text="${complaintList.id}"></label>
					</p>
				</th>




			</div>


			<div class="jingbao" id="t2">
				<p><label class="title">二级警报</label>   <label class="sum" style="color: orange;" th:text="${cso2}">19条</label></p>
				<div class="b"><button bchange="1" class="b1" id="m2"><img src="/static/img/orange.png" width="60%"/></button></div>
				<th th:each="complaintList ,itemStat: ${warningMap['warning2']}" th:if="${itemStat.count}<=1">
					<p ><a th:href="@{'/findByKid?kid='+${complaintList.kId}}"><label class="a1" th:text="${complaintList.content}"></label></a>
						<label class="a2" th:text="${complaintList.id}"></label>
					</p>
				</th>

				<th th:each="complaintLists ,itemStats: ${partwarningMap['warning2']}" th:if="${itemStats.count}<=1">
					<p ><a th:href="@{'/findByPid?pid='+${complaintLists.pId}}"><label class="a1" th:text="${complaintLists.content}"></label></a>
						<label class="a2" th:text="${complaintLists.id}"></label>
					</p>
				</th>
			</div>
			<!--信息展示 -->
			<div class="show" id="show2">

				<th th:each="complaintList : ${warningMap['warning2']}" >
					<p ><a th:href="@{'/findByKid?kid='+${complaintList.kId}}"><label class="show-l" th:text="${complaintList.content}"></label></a>
						<label class="show-r" th:text="${complaintList.id}"></label>
					</p>
				</th>

				<th th:each="complaintLists : ${partwarningMap['warning2']}" >
					<p ><a th:href="@{'/findByPid?pid='+${complaintLists.pId}}"><label class="show-l" th:text="${complaintLists.content}"></label></a>
						<label class="show-2" th:text="${complaintLists.id}"></label>
					</p>
				</th>

			</div>

			<div class="jingbao" id="t3">
				<p><label class="title">三级警报</label><label class="sum" style="color: #c865e9;" th:text="${cso3}" >19条</label></p>
				<div class="b"><button bchange="1" class="b1" id="m3"><img src="/static/img/purple.png"  width=60%></button></div>


				<th th:each="complaintList ,itemStat: ${warningMap['warning3']}" th:if="${itemStat.count}<=1">
					<p ><a th:href="@{'/findByKid?kid='+${complaintList.kId}}"><label class="a1" th:text="${complaintList.content}"></label></a>
						<label class="a2" th:text="${complaintList.id}"></label>
					</p>
				</th>

				<th th:each="complaintLists ,itemStats: ${partwarningMap['warning3']}" th:if="${itemStats.count}<=1">
					<p ><a th:href="@{'/findByPid?pid='+${complaintLists.pId}}"><label class="a1" th:text="${complaintLists.content}"></label></a>
						<label class="a2" th:text="${complaintLists.id}"></label>
					</p>
				</th>
			</div>


			<div class="show" id="show3">


				<th th:each="complaintList : ${warningMap['warning3']}" >
					<p ><a th:href="@{'/findByKid?kid='+${complaintList.kId}}"><label class="show-l" th:text="${complaintList.content}"></label></a>
						<label class="show-r" th:text="${complaintList.id}"></label>
					</p>
				</th>

				<th th:each="complaintLists : ${partwarningMap['warning3']}" >
					<p ><a th:href="@{'/findByPid?pid='+${complaintLists.pId}}"><label class="show-l" th:text="${complaintLists.content}"></label></a>
						<label class="show-2" th:text="${complaintLists.id}"></label>
					</p>
				</th>

			</div>


			<div class="jingbao" id="t4">
				<p><label class="title">四级警报</label><label class="sum" style="color: #5ccf98;" th:text="${cso4}">19条</label></p>
				<div class="b"><button bchange="1" class="b1" id="m4"><img src="/static/img/gren.png" width=60%></button></div>

				<th th:each="complaintList ,itemStat: ${warningMap['warning4']}" th:if="${itemStat.count}<=1">
					<p ><a th:href="@{'/findByKid?kid='+${complaintList.kId}}"><label class="a1" th:text="${complaintList.content}"></label></a>
						<label class="a2" th:text="${complaintList.id}"></label>
					</p>
				</th>

				<th th:each="complaintLists ,itemStats: ${partwarningMap['warning4']}" th:if="${itemStats.count}<=1">
					<p ><a th:href="@{'/findByPid?pid='+${complaintLists.pId}}"><label class="a1" th:text="${complaintLists.content}"></label></a>
						<label class="a2" th:text="${complaintLists.id}"></label>
					</p>
				</th>
			</div>

			<!--信息展示 -->
			<div class="show" id="show4">

				<th th:each="complaintList : ${warningMap['warning4']}" >
					<p ><a th:href="@{'/findByKid?kid='+${complaintList.kId}}"><label class="show-l" th:text="${complaintList.content}"></label></a>
						<label class="show-r" th:text="${complaintList.id}"></label>
					</p>
				</th>

				<th th:each="complaintLists : ${partwarningMap['warning4']}" >
					<p ><a th:href="@{'/findByPid?pid='+${complaintLists.pId}}"><label class="show-l" th:text="${complaintLists.content}"></label></a>
						<label class="show-r" th:text="${complaintLists.id}"></label>
					</p>
				</th>


			</div>


		</div>
		<!--右下 -->
		<div class="right-f">

			<!-- 投诉框 -->
			<span class="Ts">投诉</span>

			<div class="ts" id="ts1">
				<p><label class="title">从业者投诉</label> <label class="sum" th:text="${tsp}">19条</label><label>条</label></p>
				<div class="bf"><button bchange="1" class="b1" id="m5"><img src="/static/img/redwrong.png" width="60%"/></button></div>


				<th th:each="complaintList ,itemStat: ${ComMap['complaints']}" th:if="${itemStat.count}<=2">
					<p ><a th:href="@{'/lookCom?id='+${complaintList.id}}"><label class="a1-f" th:text="${complaintList.title}"></label></a>
						<label class="a2-f" th:text="${complaintList.flag1}"></label>
					</p>
				</th>
			</div>
			<!--投诉信息展示 -->
			<div class="show" id="show5">

				<th th:each="complaintList ,itemStat: ${ComMap['complaints']}" >
					<p ><a th:href="@{'/lookCom?id='+${complaintList.id}}"><label class="show-l" th:text="${complaintList.title}"></label></a>
						<label class="show-r" th:text="${complaintList.flag1}"></label>


					</p>
				</th>


			</div>
			<div class="ts" id="ts2">
				<!--<p><label class="title">家长投诉</label> <label class="sum">19条</label></p>-->
				<!--<div class="b"><button class="b1" id="m6"><img src="/static/img/redwrong.png" width=60%></button></div>-->
				<!--<p><label class="a1-f">内容概述</label><label class="a2-f">时间</label></p>-->
				<!--<p ><label class="a1-f">内容概述</label><label class="a2-f">时间</label></p>-->

				<p><label class="title">家长投诉&nbsp;&nbsp;</label> <label class="sum" th:text="${ts}">19条</label><label>条</label></p>
				<div class="bf"><button bchange="1" class="b1" id="m6"><img src="/static/img/redwrong.png" width="60%"/></button></div>


				<th th:each="complaintList ,itemStat: ${ComMap['complaintParent']}" th:if="${itemStat.count}<=2">
					<p ><a th:href="@{'/lookCom?id='+${complaintList.id}}"><label class="a1-f" th:text="${complaintList.title}"></label></a>
						<label class="a2-f" th:text="${complaintList.flag1}"></label>
					</p>
				</th>
			</div>
			<!--投诉信息展示 -->
			<div class="show" id="show6">

				<th th:each="complaintList ,itemStat: ${ComMap['complaintParent']}"  >
					<p >
						<a th:href="@{'/lookCom?id='+${complaintList.id}}"><label  th:text="${complaintList.title}" class="show-l">
						</label></a>
						<label  th:text="${complaintList.flag1}" class="show-r"></label>
					</p>
				</th>
			</div>
		</div>
	</div>
</div>
</body>




<script>

	var title=$("#title").val();
    var cid1=$("#cid1").val();
    var content=$("#content").val();
	function submits(){
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型

            url: "/ReplyByCid" ,//url
            data:{
               title:title ,
				cid1:cid1,
				content:content
			},
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)

                if (result == "success") {
                    alert("回复成功");
                }
                ;
            },
            error : function() {
                alert("异常！");
            }
        });

	}


</script>
<!-- 显示时间 -->
<script type="text/javascript">
    setInterval("fun(showTime)", 1);
    function fun(timeID) {
        var date = new Date(); //创建对象
        var y = date.getFullYear(); //获取年份
        var m = date.getMonth() + 1; //获取月份  返回0-11
        var d = date.getDate(); // 获取日
        var w = date.getDay(); //获取星期几  返回0-6   (0=星期天)
        var ww = '周' + '日一二三四五六'.charAt(new Date().getDay()); //星期几
        var h = date.getHours(); //时
        var minute = date.getMinutes() //分
        var s = date.getSeconds(); //秒

        if(m < 10) {
            m = "0" + m;
        }

        if(d < 10) {
            d = "0" + d;
        }

        if(h < 10) {
            h = "0" + h;
        }

        if(minute < 10) {
            minute = "0" + minute;
        }

        if(s < 10) {
            s = "0" + s;
        }

        document.getElementById(timeID.id).innerHTML =  y + "年" + m + "月" + d + "日" + "   " +
            h + ":" + minute + ":" + s + "  " + ww;

    }
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#YES").click(function(){
            $("#window").toggle();
        });
    });
    // $(document).ready(function(){
    //     $(".reback").click(function(){
    //         $("#light").toggle();
    //     });
    // });
    $(document).ready(function(){
        $(".reback").click(function(){
            $("#light").toggle();
        });
    });
    $(document).ready(function(){
        $(".close").click(function(){
            $("#light").css("display","none");
        });
    });

</script>

<!-- 柱状图--->
<script>
    $(document).ready(function(){

        var publicCount=[[${publicCount}]]

        var sum=[[${sum}]]
        var property1=publicCount/(sum+publicCount)*100


        var property2=50;
        var property3=50;

        $("#property1").css({"background-color":"#6bc89b","width":property1+'%'});


        $("#property2").css({"background-color":"#6bc89b","width":property2+'%'});
        $("#property3").css({"background-color":"#6bc89b","width":property3+'%'});

        var n= [[${mapSexMan['part_1']}]]

        var s= [[${mapSexTotal['part_total1']}]]
        if(n==0&&s==0)
        {
            green_width =50;
        }else {
            var green_width =n/s*100
        }





        //alert(s)
        //alert(n)


        var n1= [[${mapSexMan['part_2']}]]
        var s1= [[${mapSexTotal['part_total2']}]]

        if(n1==0&&s1==0)
        {
            green_width1 =50;
        }else {
            var green_width1 =n1/s1*100
        }



        //alert(green_width1)


        var n2= [[${mapSexMan['part_3']}]]
        var s2= [[${mapSexTotal['part_total3']}]]

        if(n2==0&&s2==0)
        {
            green_width3 =50;
        }else {
            var green_width3 =n2/s2*100
        }
        //var green_width3 =n2/s2*100
        //alert(green_width3)

        var n3= [[${mapSexMan['part_4']}]]
        var s3= [[${mapSexTotal['part_total4']}]]

        if(n3==0&&s3==0)
        {
            green_width4 =50;
        }else {
            var green_width4 =n3/s3*100
        }
        //var green_width4 =n3/s3*100
        // alert(n3)
        // alert(s3)
        // alert(green_width4)
        var n4= [[${mapSexMan['part_5']}]]
        var s4= [[${mapSexTotal['part_total5']}]]

        if(n4==0&&s4==0)
        {
            green_width5 =50;
        }else {
            var green_width5 =n4/s4*100
        }



        $("#ICRADE1").css({"background-color":"#6bc89b","width":green_width+'%'});

        $("#ICRADE2").css({"background-color":"#6bc89b","width":green_width1+'%'});
        $("#ICRADE3").css({"background-color":"#6bc89b","width":green_width3+'%'});
        $("#ICRADE4").css({"background-color":"#6bc89b","width":green_width4+'%'});
        $("#ICRADE5").css({"background-color":"#6bc89b","width":green_width5+'%'});
    });
</script>

<script>
    var mychart = echarts.init(document.getElementById("YC"));

    var sd=[[${clasStuTotalMan['clasTypeTotal0']}]]

    var sc=[[${clasStuTotalWoMan['clasTypeTotal0']}]]

    var sd1=[[${clasStuTotalMan['clasTypeTotal1']}]]

    var sc1=[[${clasStuTotalWoMan['clasTypeTotal1']}]]

    var sd2=[[${clasStuTotalMan['clasTypeTotal2']}]]

    var sc2=[[${clasStuTotalWoMan['clasTypeTotal2']}]]


    // var mapQualifiedTotal=[[${mapQualifiedTotal}]]
    // var mapQualified=[[${mapQualified}]]
    //var sums=

    var option = {
        //  backgroundColor: '#014131',//背景颜色
        tooltip : {
            show: true,
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        /* legend: {
                    x : 'center',
                    data:['班车','包车']
                },
               */
        toolbox: {
            show : false,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable:false,

        series : [
            {
                name:'小班学生',
                type:'pie',
                center: ['15%', '45%'],
                radius : '62%',
                data:[
                    {value:sc, name:'小班女生'},
                    {value:sd, name:'小班男生'},
                ],
                itemStyle: {//系列级个性化
                    normal: {
                        color: function(params) {
                            var colorList = [
                                '#12604c','#4ed394'
                            ];
                            return colorList[params.dataIndex]
                        },
                        labelLine:{//饼图不显示线条
                            length:2,
                            show:false
                        },
                        label:{//饼图不显示文字
                            show:true,
                            position : 'inner',//饼图图上显示百分比
                            formatter : function (params) {
                                return (params.percent - 0).toFixed(0) + '%'
                            },
                            textStyle:{
                                fontSize:14
                            }
                        },
                    }
                }
            },
            {
                name:'中班学生',
                type:'pie',
                center: ['50%', '45%'],
                radius : '62%',
                data:[
                    {value:sc1, name:'中班女生'},
                    {value:sd1, name:'中班男生'},
                ],
                itemStyle: {//系列级个性化
                    normal: {
                        color: function(params) {
                            var colorList = [
                                '#12604c','#4ed394'
                            ];
                            return colorList[params.dataIndex]
                        },
                        labelLine:{//饼图不显示线条
                            length:2,
                            show:false
                        },
                        label:{//饼图不显示文字
                            show:true,
                            position : 'inner',//饼图图上显示百分比
                            formatter : function (params) {
                                return (params.percent - 0).toFixed(0) + '%'
                            },
                            textStyle:{
                                fontSize:14
                            }
                        }
                    }
                }
            }, {
                name:'大班学生',
                type:'pie',
                center: ['85%', '45%'],
                radius : '62%',
                data:[
                    {value:sc2, name:'大班女生'},
                    {value:sd2, name:'大班男生'},
                ],
                itemStyle: {//系列级个性化
                    normal: {
                        color: function(params) {
                            var colorList = [
                                '#12604c','#4ed394'
                            ];
                            return colorList[params.dataIndex]
                        },
                        labelLine:{//饼图不显示线条
                            length:2,
                            show:false
                        },
                        label:{//饼图不显示文字
                            show:true,
                            position : 'inner',//饼图图上显示百分比
                            formatter : function (params) {
                                return (params.percent - 0).toFixed(0) + '%'
                            },
                            textStyle:{
                                fontSize:14
                            }
                        }
                    }
                }
            }
        ]
    };
    mychart.setOption(option);
</script>


<script type="text/javascript">
    //饼状图1
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('JM'));
    // 指定图表的配置项和数据
    var mapQualifiedTotal=[[${mapQualifiedTotal}]]
    var mapQualified=[[${mapQualified}]]
    var sums=mapQualifiedTotal-mapQualified;




    var option = {
        tooltip : {
            trigger: 'item',
            // formatter: "{b} : {c}",
            formatter:'{b}:{d}%({c}) ' ,

        },
        //backgroundColor: '#002a26',
        series : [
            {
                name: '访问来源',
                type: 'pie',
                radius: '55%',
                color:["#12604c","#4ed394"] ,
                calculable : true,

                data:[
                    // {value:mapQualified, name:'合ss格'},
                    // {value:sums, name:'不合格'},

                    {value:sums, name:'不合格'},
                    {value:mapQualified, name:'合格'},


                ],
                label: {
                    normal: {
                        textStyle: {
                            color: 'white'
                        }
                    }
                },
                labelLine:{
                    normal:{
                        length:10,  // 改变标示线的长度
                        lineStyle: {
                            color: "#47bc87"  // 改变标示线的颜色

                        }
                    },
                },
                label: {
                    normal: {
                        textStyle: {
                            color: 'white'  // 改变标示文字的颜色
                        }
                    }
                },


                itemStyle: {
                    normal: {
                        shadowBlur: 200,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },
                // 高亮样式。
                emphasis: {
                    itemStyle: {
                        // 高亮时点的颜色。
//						color: '#7CFC00'
                    },
                    label: {
//						show: true,
//						// 高亮时标签的文字。
//						formatter:'dayLabel',
                    }
                }
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>



<!--警报点击样式  -->
<script type="text/javascript">
    $(document).ready(function(){
        //警报点击
        $("#m1").click(function(){
            var n = $("#m1").attr("bchange");
            //下拉框是关闭的的
            if(n==1){
                var n2=$("#m2").attr("bchange");
                var n3=$("#m3").attr("bchange");
                var n4=$("#m4").attr("bchange");
                if(n2==0){
                    //该下拉框开启
                    $(".b").toggleClass("bnew");
                    $(".jingbao").toggleClass("jingbao1");
                    $(".a1").toggle();
                    $(".a2").toggle();
                    $("#show2").toggle();
                    $("#m2").attr("bchange","1");
                    $("#t2").css({"background-image":"url('/static/img/touming.png')"});
                }
                if(n3==0){
                    //该下拉框开启
                    $(".b").toggleClass("bnew");
                    $(".jingbao").toggleClass("jingbao1");
                    $(".a1").toggle();
                    $(".a2").toggle();
                    $("#show3").toggle();
                    $("#m3").attr("bchange","1");
                    $("#t3").css({"background-image":"url('/static/img/touming.png')"});
                }
                if(n4==0){
                    //该下拉框开启
                    $(".b").toggleClass("bnew");
                    $(".jingbao").toggleClass("jingbao1");
                    $(".a1").toggle();
                    $(".a2").toggle();
                    $("#show4").toggle();
                    $("#m4").attr("bchange","1");
                    $("#t4").css({"background-image":"url('/static/img/touming.png')"});
                }
                $(".b").toggleClass("bnew");
                $(".jingbao").toggleClass("jingbao1");
                $(".a1").toggle();
                $(".a2").toggle();
                $("#show1").toggle();
                $("#m1").attr("bchange","0");
                $("#t1").css({"background-image":"url('/static/img/shine.png')"});
            }
            if(n==0){
                $(".b").toggleClass("bnew");
                $(".jingbao").toggleClass("jingbao1");
                $(".a1").toggle();
                $(".a2").toggle();
                $("#show1").toggle();
                $("#m1").attr("bchange","1");
                $("#t1").css({"background-image":"url('/static/img/touming.png')"});
            }

        });
        $("#m2").click(function(){
            var n = $("#m2").attr("bchange");
            //下拉框是关闭的的
            if(n==1){
                var n1=$("#m1").attr("bchange");
                var n3=$("#m3").attr("bchange");
                var n4=$("#m4").attr("bchange");
                if(n1==0){
                    //该下拉框开启
                    $(".b").toggleClass("bnew");
                    $(".jingbao").toggleClass("jingbao1");
                    $(".a1").toggle();
                    $(".a2").toggle();
                    $("#show1").toggle();
                    $("#m1").attr("bchange","1");
                    $("#t1").css({"background-image":"url('/static/img/touming.png')"});
                }
                if(n3==0){
                    //该下拉框开启
                    $(".b").toggleClass("bnew");
                    $(".jingbao").toggleClass("jingbao1");
                    $(".a1").toggle();
                    $(".a2").toggle();
                    $("#show3").toggle();
                    $("#m3").attr("bchange","1");
                    $("#t3").css({"background-image":"url('/static/img/touming.png')"});
                }
                if(n4==0){
                    //该下拉框开启
                    $(".b").toggleClass("bnew");
                    $(".jingbao").toggleClass("jingbao1");
                    $(".a1").toggle();
                    $(".a2").toggle();
                    $("#show4").toggle();
                    $("#m4").attr("bchange","1");
                    $("#t4").css({"background-image":"url('/static/img/touming.png')"});
                }
                $(".b").toggleClass("bnew");
                $(".jingbao").toggleClass("jingbao1");
                $(".a1").toggle();
                $(".a2").toggle();
                $("#show2").toggle();
                $("#m2").attr("bchange","0");
                $("#t2").css({"background-image":"url('/static/img/shine.png')"});
            }
            if(n==0){
                $(".b").toggleClass("bnew");
                $(".jingbao").toggleClass("jingbao1");
                $(".a1").toggle();
                $(".a2").toggle();
                $("#show2").toggle();
                $("#m2").attr("bchange","1");
                $("#t2").css({"background-image":"url('/static/img/touming.png')"});
            }
        });
        $("#m3").click(function(){
            var n = $("#m3").attr("bchange");
            //下拉框是关闭的的
            if(n==1){
                var n2=$("#m2").attr("bchange");
                var n1=$("#m1").attr("bchange");
                var n4=$("#m4").attr("bchange");
                if(n2==0){
                    //该下拉框开启
                    $(".b").toggleClass("bnew");
                    $(".jingbao").toggleClass("jingbao1");
                    $(".a1").toggle();
                    $(".a2").toggle();
                    $("#show2").toggle();
                    $("#m2").attr("bchange","1");
                    $("#t2").css({"background-image":"url('/static/img/touming.png')"});
                }
                if(n1==0){
                    //该下拉框开启
                    $(".b").toggleClass("bnew");
                    $(".jingbao").toggleClass("jingbao1");
                    $(".a1").toggle();
                    $(".a2").toggle();
                    $("#show1").toggle();
                    $("#m1").attr("bchange","1");
                    $("#t1").css({"background-image":"url('/static/img/touming.png')"});
                }
                if(n4==0){
                    //该下拉框开启
                    $(".b").toggleClass("bnew");
                    $(".jingbao").toggleClass("jingbao1");
                    $(".a1").toggle();
                    $(".a2").toggle();
                    $("#show4").toggle();
                    $("#m4").attr("bchange","1");
                    $("#t4").css({"background-image":"url('/static/img/touming.png')"});
                }
                $(".b").toggleClass("bnew");
                $(".jingbao").toggleClass("jingbao1");
                $(".a1").toggle();
                $(".a2").toggle();
                $("#show3").toggle();
                $("#m3").attr("bchange","0");
                $("#t3").css({"background-image":"url('/static/img/shine.png')"});
            }
            if(n==0){
                $(".b").toggleClass("bnew");
                $(".jingbao").toggleClass("jingbao1");
                $(".a1").toggle();
                $(".a2").toggle();
                $("#show3").toggle();
                $("#m3").attr("bchange","1");
                $("#t3").css({"background-image":"url('/static/img/touming.png')"});
            }

        });
        $("#m4").click(function(){
            var n = $("#m4").attr("bchange");
            //下拉框是关闭的的
            if(n==1){
                var n2=$("#m2").attr("bchange");
                var n3=$("#m3").attr("bchange");
                var n1=$("#m1").attr("bchange");
                if(n2==0){
                    //该下拉框开启
                    $(".b").toggleClass("bnew");
                    $(".jingbao").toggleClass("jingbao1");
                    $(".a1").toggle();
                    $(".a2").toggle();
                    $("#show2").toggle();
                    $("#m2").attr("bchange","1");
                    $("#t2").css({"background-image":"url('/static/img/touming.png')"});
                }
                if(n3==0){
                    //该下拉框开启
                    $(".b").toggleClass("bnew");
                    $(".jingbao").toggleClass("jingbao1");
                    $(".a1").toggle();
                    $(".a2").toggle();
                    $("#show3").toggle();
                    $("#m3").attr("bchange","1");
                    $("#t3").css({"background-image":"url('/static/img/touming.png')"});
                }
                if(n1==0){
                    //该下拉框开启
                    $(".b").toggleClass("bnew");
                    $(".jingbao").toggleClass("jingbao1");
                    $(".a1").toggle();
                    $(".a2").toggle();
                    $("#show1").toggle();
                    $("#m1").attr("bchange","1");
                    $("#t1").css({"background-image":"url('/static/img/touming.png')"});
                }
                $(".b").toggleClass("bnew");
                $(".jingbao").toggleClass("jingbao1");
                $(".a1").toggle();
                $(".a2").toggle();
                $("#show4").toggle();
                $("#m4").attr("bchange","0");
                $("#t4").css({"background-image":"url('/static/img/shine.png')"});
            }
            if(n==0){
                $(".b").toggleClass("bnew");
                $(".jingbao").toggleClass("jingbao1");
                $(".a1").toggle();
                $(".a2").toggle();
                $("#show4").toggle();
                $("#m4").attr("bchange","1");
                $("#t4").css({"background-image":"url('/static/img/touming.png')"});
            }

        });
        $("#m5").click(function(){
            //警报点击
            var n = $("#m5").attr("bchange");
            //下拉框是关闭的的
            if(n==1){
                var n2=$("#m6").attr("bchange");
                if(n2==0){
                    //该下拉框开启
                    $(".bf").toggleClass("bnew1");
                    $(".ts").toggleClass("ts1");
                    $(".a1-f").toggle();
                    $(".a2-f").toggle();
                    $("#show6").toggle();
                    $("#m6").attr("bchange","1");
                    $("#ts2").css({"background-image":"url('/static/img/touming.png')"});
                }
                $(".bf").toggleClass("bnew1");
                $(".ts").toggleClass("ts1");
                $(".a1-f").toggle();
                $(".a2-f").toggle();
                $("#show5").toggle();
                $("#m5").attr("bchange","0");
                $("#ts1").css({"background-image":"url('/static/img/shine.png')"});
            }
            if(n==0){
                $(".bf").toggleClass("bnew1");
                $(".ts").toggleClass("ts1");
                $(".a1-f").toggle();
                $(".a2-f").toggle();
                $("#show5").toggle();
                $("#m5").attr("bchange","1");
                $("#ts1").css({"background-image":"url('/static/img/touming.png')"});
            }
        });
        $("#m6").click(function(){
            //警报点击
            var n = $("#m6").attr("bchange");
            //下拉框是关闭的的
            if(n==1){
                var n2=$("#m5").attr("bchange");
                if(n2==0){
                    //该下拉框开启
                    $(".bf").toggleClass("bnew1");
                    $(".ts").toggleClass("ts1");
                    $(".a1-f").toggle();
                    $(".a2-f").toggle();
                    $("#show5").toggle();
                    $("#m5").attr("bchange","1");
                    $("#ts1").css({"background-image":"url('/static/img/touming.png')"});
                }
                $(".bf").toggleClass("bnew1");
                $(".ts").toggleClass("ts1");
                $(".a1-f").toggle();
                $(".a2-f").toggle();
                $("#show6").toggle();
                $("#m6").attr("bchange","0");
                $("#ts2").css({"background-image":"url('/static/img/shine.png')"});
            }
            if(n==0){
                $(".bf").toggleClass("bnew1");
                $(".ts").toggleClass("ts1");
                $(".a1-f").toggle();
                $(".a2-f").toggle();
                $("#show6").toggle();
                $("#m6").attr("bchange","1");
                $("#ts2").css({"background-image":"url('/static/img/touming.png')"});
            }
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        var rotation2 = function (){
            $(".JM2").rotate({
                angle:0,
                animateTo:360,
                callback: rotation2,
                easing: function (x,t,b,c,d){        // t: current time, b: begInnIng value, c: change In value, d: duratio
                    d = d*2;
                    return c*(t/d)+b;
                }
            });
        }
        rotation2();
    });
    $(document).ready(function(){
        $(".back").mouseleave(function () {
            var rotation2 = function (){
                $(".JM2").rotate({
                    angle:0,
                    animateTo:360,
                    callback: rotation2,
                    easing: function (x,t,b,c,d){        // t: current time, b: begInnIng value, c: change In value, d: duratio
                        d = d*2;
                        return c*(t/d)+b;
                    }
                });
            }
            rotation2();
        });
    });
    $(document).ready(function(){
        $(".back").mouseover(function () {
            var rotation1 = function (){
                $(".JM2").rotate({
                    angle:0,
                    animateTo:360,
                    callback: rotation1,
                    easing: function (x,t,b,c,d){        // t: current time, b: begInnIng value, c: change In value, d: durati
                        return c*(t/d)+b;
                    }
                });
            }
            rotation1();
        });
    });
</script>
</html>
