<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ban8页面</title>
		<link rel="stylesheet" type="text/css" href="../css/ban2.css">
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" type="text/css" href="../css/ban5.css">
		<link rel="stylesheet" type="text/css" href="../css/ban8.css">
		<script src="../js/jquery.min.js"></script>	
	</head>
	<body>
		<!-- 上 -->
	   <div class="header">
		   	<div class="topimg">
		   		<span class="h-title" id="ban8-h-title">
		   		   学生XXX基础信息统计
		   		</span>
		   		<span class="mes">
		   			<p>欢迎您! <label>XXX教育局&nbsp;</label>管理中心&nbsp;<a href="#">退出</a></p>
		   		</span>
		   	</div>
	   </div>
	     <!-- 整体-->
	   <div  class="main">
	   	   
	   	   <!-- 左边-->
	   	 <div class="left">
	   	 	<!-- 左上 -->
	   	 	<div class="left-t" id="ban5-left-t">
	   	 		<span class="ban5-lt">工作履历</span>
	   	 		<div class="left-t-content">
	   	 				<table>
		   	 				<tr>
		   	 					<td width="35%"> <label><p>0000年</p><p>00月00日</p></label></td>
		   	 					<td width="11%"rowspan="2"> <img/ src="../img2/地图.png"></td>
		   	 					<td width="60%"rowspan="2"><textarea > 学习经历描述</textarea></td>
		   	 				</tr>
		   	 				<tr><td> <label><p>0000年</p><p>00月00日</p></label></td></tr>
	   	 				</table>
	   	 				<table>
		   	 				<tr>
		   	 					<td width="35%"> <label><p>0000年</p><p>00月00日</p></label></td>
		   	 					<td width="11%"rowspan="2"> <img/ src="../img2/地图.png"></td>
		   	 					<td width="60%"rowspan="2"><textarea> 学习经历描述</textarea></td>
		   	 				</tr>
		   	 				<tr><td> <label><p>0000年</p><p>00月00日</p></label></td></tr>
	   	 				</table>
	   	 		</div>
	   	 	</div>
	   	 	<!-- 左下-->
	   	   <div class="left-f" id="ban5-left-f">
	   	   	  	<span class="ban5-ft">被投诉记录</span> 
	   	   	  	<div class="left-f-content">
	   	   	  		<div class="content">  
	   	   	  			<span>家长投诉</span>
	   	   	  			<span>园长XXX</span>
	   	   	  			<span>2018/08/03</span>
	   	   	  			<span>XXXXXXXX</span>
	   	   	  			<span>
	   	   	  				<img src="../img2/属实_已处理.png">
	   	   	  			</span>
	   	   	  		</div>
	   	   	  		
	   	   	  	</div>
	   	   </div>	
	    </div>	   	   
	   	  	
	   	 <!-- 中间   -->
	   	 <div class="center" id="ban2-center">
	   	   <!--时间 -->
	   	   <div class="time" id="showTime2"> </div>
	   	   <!-- 中间按钮 -->
	   	   <div class="Anniu">
	   	   	  <img  class="back" src="../img/back.png">
	   	   </div>	
	   	   <div class="ban8-content">
	   	     <ul>
	   	     	<li>姓名：<label>XXXXXXXX</label></li>
	   	     	<li>性别:<label>XX</label></li>
	   	     	<li>生日:<label>XXXX年XX月XX日</label></li>
	   	     	<li class="r84"><img src="../img2/图层540.png"></li>
	   	     	<li>年龄:<label>XXX</label></li>
	   	     	<li>籍贯:<label>XX省XX市</label></li>
	   	     	<li>监护人:<label>XXX</label></li>
	   	     	<li>关系:XXX(父亲or母亲等)</li>
	   	     	<li>联系电话:<label>XXXXXXXXXXX</label></li>
	   	     	<li>第二监护人:<label>XXXX</label></li>
	   	     	<li>关系:<label>XX(父亲 or 母亲等)</label></li>
	   	     	<li>联系电话:<label></label>XXXXXXXXXX</li>
	   	     	<li>地址:<label>郑州市金水区(县)XXX路(街，巷)XXX号</label></li>
	   	     	<li class="r80"><a href="#">点击查看详情</a></li>
	   	     	<li >学籍号:<label>0000000000</label></li>
	   	     	<li class="r81"><a href="#">点击查看详情</a></li>
	   	     	<li>管理部门:<label>金水区教育局</label></li>
	   	     	<li>所在幼儿园:<label>XXXXXXXXXXXX</label></li>
	   	        <li>负责人姓名:<label>XXXXXX</label></li>
	   	        <li class="r82">联系电话:<label>XXXXXXXXXX</label></li>
	   	        <li>地址:<label>郑州市金水区(县)XX路(街,巷)XX号</label></li>
	   	        <li>入园时间:<label>XXXX年XX月XX日</label></li>
	   	        <li>托管情况:<label>全托 or 半托</label></li>
	   	        <li>入园费用:<label>0000元(申报)</label></li>
	   	        <li class="r82"><label>0000元(实缴)</label></li>
	   	        <li>所在班级:<label>XXX年级XX班级</label></li>
	   	        <li>老师人数:<label>00人</label></li>
	   	        <li>班主任:<label>XXX</label></li>
	   	        <li class="r82">联系电话:<label>00000000000</label></li>
	   	        <li>健康证明:<label>生理健康:XXX</label></li>
	   	        <li class="r81"><a href="#">点击查看详情</a></li>
	   	        <li class="r83">心理健康:<label>XXX</label></li>
	   	        <li class="r81"><a href="#">点击查看详情</a></li>
	   	     </ul>
	   	   </div>
	   	 </div>
	   	  <!--  右边 -->
	   	 <div class="right">
	   	 	<!-- 右上 -->
	   	 	<div class="right-t">
	   	 		<span class="ban5-lt">获奖记录</span>
	   	 		<div class="right-t-content">
		   	 		<table>
		   	 			<tr>
		   	 				<td width="15%"> <label><p>0000年</p><p>00月00日</p></label></td>
		   	 				<td width="6%" rowspan="2"> <img/ src="../img2/地图.png"></td>
		   	 				<td width="20%" rowspan="2"><textarea> 学习经历描述</textarea></td>
		   	 		   </tr>
	   	 		    </table>
	   	 		    <table>
		   	 			<tr>
		   	 				<td width="15%"> <label><p>0000年</p><p>00月00日</p></label></td>
		   	 				<td width="6%" rowspan="2"> <img/ src="../img2/地图.png"></td>
		   	 				<td width="20%" rowspan="2"><textarea> 学习经历描述</textarea></td>
		   	 		    </tr>
	   	 		    </table>
	   	 		    <table>
		   	 			<tr>
		   	 				<td width="15%"> <label><p>0000年</p><p>00月00日</p></label></td>
		   	 				<td width="6%" rowspan="2"> <img/ src="../img2/地图.png"></td>
		   	 				<td width="20%" rowspan="2"><textarea> 学习经历描述</textarea></td>
		   	 		    </tr>
	   	 		    </table>
	   	 		</div>
	   	 	</div>
	   	 	<!--右下 -->
	   	 	<div class="right-f" id="ban5-right-f">
	   	 	  <span class="ban5-ft">投诉记录</span>
	   	 	  <div class="left-f-content">
	   	   	  		<div class="content">  
	   	   	  			<span>家长投诉</span>
	   	   	  			<span>园长XXX</span>
	   	   	  			<span>2018/08/03</span>
	   	   	  			<span>XXXXXXXX</span>
	   	   	  			<span>
	   	   	  				<img src="../img2/属实_已处理.png">
	   	   	  			</span>
	   	   	  		</div>
	   	   	  		
	   	   	  	</div>
	   	 	</div>
	   	 </div>	   	  
	   </div>
	   
	</body>
	<!-- 显示时间 -->
   <script type="text/javascript">
			setInterval("fun(showTime2)", 1);
			function fun(timeID) {
				var date = new Date(); //创建对象  
				var y = date.getFullYear(); //获取年份  
				var m = date.getMonth() + 1; //获取月份  返回0-11  
				var d = date.getDate(); // 获取日  
				var w = date.getDay(); //获取星期几  返回0-6   (0=星期天) 
				var ww = '周' + '日一二三四五六'.charAt(new Date().getDay()); //星期几
				var h = date.getHours(); //时
				var minute = date.getMinutes() //分
				var s = date.getSeconds(); //秒

				if(m < 10) {
					m = "0" + m;
				}

				if(d < 10) {
					d = "0" + d;
				}

				if(h < 10) {
					h = "0" + h;
				}

				if(minute < 10) {
					minute = "0" + minute;
				}

				if(s < 10) {
					s = "0" + s;
				}

				document.getElementById(timeID.id).innerHTML =  y + "年" + m + "月" + d + "日" + "   " +
					h + ":" + minute + ":" + s + "  " + ww;

			}
		</script>
</html>
